/* completa */
h1 {
    color: darkblue;
}
h1,h3 {
    font-style: italic;
}

header p {
    font-family: 'Courier New', Courier, monospace;
}

.fancy {
    font-family: 'Courier New', Courier, monospace;
}

section.statistics header h3 {
    color: red;
}

p.important {
    font-weight: bold; 
    font-size: 30px;
    background-color: aqua;
}